body{
    margin:0;
    padding:0;
}

$footer_nav_background_color: #323232;

@mixin tablet_spacing {
    padding: 36px 0px; 
}

/*Mobile*/

@media (max-width:767px){
    
    .photo__gallery__images{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 16px;
        padding-right: 16px; 
        font-size:14px;
        
    }

    .photo__gallery__image {
        width: 450px;
        height:280px;
        padding-bottom: 40px;
        margin:auto;
        background-size: cover;
    } 

    .musician__image {
        width:500px;
        height:280px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        // padding-left:16px;
        // padding-right:16px;
        padding-bottom:40px;
        margin:auto;
        background: cover;
    }

   
    .footer_icons {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer_text {
        font-size: 14px;
    }
    
    .footer__bandsite__label--desktop-tablet {
        display: none;
        color: white;
        font-family: Avenir;
    }

    #bandsite__hidden__title {
        background-color: $footer_nav_background_color;
        font-family:Avenir;
        display: flex;
        justify-content: center;
        font-size:36px;
    }

    .footer__bandsite__label {
        color: white;
        font-family: Avenir;
        font-size: 24px;
        padding-left:16px;
    }
    
    .bees__knees__text__content {
        padding-left:16px;
        padding-right:16px;
        font-size: 14px;
        // margin-left: 16px;
        // margin-right:16px;
        font-family: Avenir;
    }
    
    .bees__knees__container {
        display:flex;
        flex-direction: column;
        font-family: Avenir;
    }

   

    .bees__knees__text__header {
        padding-left: 16px;
        font-size: 24px;
        font-family: Avenir;
    }

    .bandsite__nav {
        background-color: $footer_nav_background_color;
        // color: white;
        // font-family: Avenir;
        // padding-left: 30px;
        // align-items: center;
        // font-weight: bold;
        // // display:flex;
        // justify-content:space-evenly;
    }
    
    // #bandsite__title {
    //     display: none;
    // }

    .bandsite__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #bandsite__title {
        display:none;
    }

    .bandsite__nav__content  {
        
        // padding-left: 30px; 
        font-size: 2rem;   
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
      
    }

    .bandsite__nav__text__container {
        // display: flex;
        // justify-content: flex-start;
        // display: flex;
        // justify-content: center;
        // // width: 100%;
        // display: inline-block;
        font-family: Avenir;
        font-weight: lighter;
    }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1279px){ 
     
    .footer__bandsite__label { 
        display: none; 
        @include tablet_spacing;  
    } 

    .footer__header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-right:20%;
        @include tablet_spacing;  
    }

    .footer__bandsite__label--desktop-tablet {
        font-family: Avenir;
       
    }

    .photo__gallery__images {
        padding-left:24px;
        padding-right:24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 10px;
        font-family: Avenir;
        margin:36px; 
    }

    .photo__gallery__image {
        padding-bottom: 30px;
        margin:auto;
    }

    .bees__knees__container {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: Avenir;
    }
    
    .bees__knees__text__content {
        padding-left:120px;
        padding-right:5px;
        margin-right: 36px;
        margin-left:36px;
        font-size: 25px;
        margin-top: 30px;
        font-family: Avenir;
    }
    

    #bandsite__hidden__title {
        display:none;
    }
    

    .bees__knees__text__header {
        padding-left: 150px;
        font-size: 3rem;
    }

    .musician__image {
        width: 850px;
        height:auto;
        display: flex;
        justify-content: center;
    }
    
    .bandsite__nav {
        background-color: $footer_nav_background_color;
        color: white;
        display: flex;
        justify-content: flex-start;
        font-family: Avenir;
        padding-left: 30px;
        align-items: center;
        font-weight: bold;

    }
    
    // .bandsite__nav__content  {
    //     font-family: Avenir;
    //     font-weight: lighter;
    //     padding-left: 30px; 
    //     font-size: 2rem;   
    // }

    .footer {
        background-color: $footer_nav_background_color;
        margin:16px;
        padding-left: 36px;
        padding-right: 36px;
    }

    .footer_text {
        color: white;
        display: flex;
        justify-content: space-evenly;
        font-family: Avenir;
        font-size: 24px;
        padding-left: 36px;
    }
    
}

/*Desktop*/
@media (min-width: 1280px ) { 
    .photo__gallery__image{
          width: 30%;
          padding-bottom: 40px;
          margin-bottom:2%;
          margin: auto;
    }
   
    #bandsite__hidden__title {
        display:none;
    }


    .footer__bandsite__label {
        color: white;
        display: none;
        font-family: Avenir;
    }
    
    .footer__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 36px, 0;
        margin-right:36px;
        margin-left:36px;
    }

    .footer_icons {
       height:auto;
        width:40%;
    }
 
    .footer__bandsite__label--desktop-tablet {
        color: white;
        font-family: Avenir;
    }

    .photo__gallery__images {
        padding-left:36px;
        padding-right:36px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 30px;
        font-family: Avenir;
        margin:16px; 
    }

    .musician__image {
        width: 1000px;
        height:auto;
        display: flex;
        justify-content: center;

    }


    .bees__knees__container {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: Avenir;
    }
    
    .bees__knees__text__content {
        padding-left:120px;
        padding-right:5px;
        margin-right: 36px;
        margin-left:36px;
        font-size: 25px;
        margin-top: 30px;
        font-family: Avenir;
    }
   

    .bees__knees__text__header {
        padding-left: 150px;
        font-size: 3rem;
    }
    .bandsite__nav {
        background-color: $footer_nav_background_color;
        color: white;
        display: flex;
        justify-content: flex-start;
        font-family: Avenir;
        padding-left: 30px;
        align-items: center;
        font-weight: bold;

    }
    
    // .bandsite__nav__content  {
    //     font-family: Avenir;
    //     font-weight: lighter;
    //     padding-left: 30px; 
    //     font-size: 2rem;   
    // }
}




.hero_text {
    font-family: Avenir;
    font-size: 60px;
    padding-left: 16px;
    margin-left:16px;
    font-style: bold;

}

.Musicians {
    font-family: Avenir;
    margin: 16px;
    display: flex;
    justify-content: center;
}


.photo__gallery {
    background-color: #FAFAFA;
}


.photo__gallery__text {
    color: black;
    padding-left: 80px;
    padding-top:30px;
    font-family: Avenir;
}

.bees_knees{
    display: flex;

}


h1 {
    color: white;
    font-size: 60px;
    font-weight:lighter;
    @media (max-width:767px){
    font-size:24px;
    font-weight: bold;
    }  
}

h2 {
    font-size: 36px;
    font-weight: lighter;
    @media (max-width:767px){
        font-size:24px;
        font-weight: bold;
        }  

}



.footer {
    background-color: $footer_nav_background_color;
    margin:auto;
}


.footer_heading {
    color: white;
    font-family: Avenir;
    padding-top: 10px;
    margin:16px;
}


.footer_text {
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: Avenir;
    font-size: 24px;
}

.footer__copyright {
    color: white;
    font-family: Avenir;
    padding-bottom: 4.9%;
    font-size:1.7rem;
}

.footer__copyright__text {
    padding-left: 60px;
    @media (max-width:767px){
    padding-left:16px;
    font-size: 14px;
}
}

.bandsite__nav a {
    color:white;
    font-family: Avenir;
    font-weight:bold;
    padding: 14px 25px;
    font-size: 24px;
}

.bandsite__nav a:hover {
    text-decoration: underline;
    border-bottom-width: 1px;
    text-decoration-color: white;
    
}

.profile__image {
    border-radius:50%;
    margin-top:25px;
    width: 48px;
    height: 48px;
    @media (max-width:767px){
       margin-top:5px;
    }  
}

.profile__image img{
    filter: grayscale(100%);
}

.name {
    font-family: Avenir;
}


h4 {
    color: black;
    font-size: 50%;
}

#form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    @media (max-width:767px){
        margin:16px;
        padding-left:16px;
    }
}

.form__text {
    font-family: Avenir;
    font-size: 14px;
    @media (max-width:767px){
    padding-left: 16px;
 }
}

.form_layout {
    display:flex;
}

.form__name {
    font-family: Avenir;
    font-weight: bold;
    color: #AFAFAF;
    display:flex;
    justify-content: flex-start;
}

.form__comment {
    font-family: Avenir;
    font-weight: bold;
    color: #AFAFAF;
    // display:flex;
    // justify-content: flex-start;
    padding-left: 98px;
    @media (max-width:767px){
    padding-left:22px;
    margin:16px;
    }
}

#form__comment__image{
    display:none;
}

.form__heading {
    font-family: Avenir;
    font-size: 24px;
    padding-left:16px;
    @media (max-width:767px){
        font-size:14px;
        padding-left:16px;
}
}

.form__heading__div {
    display:flex;
}

.comment{
    background-color: #323232;
    color: white;
    text-align: center; 
}

.form__comment__text{
    padding-left: 7px;
    padding-bottom:20px;
}

h4 {
    font-size: 0.8rem;
    font-family: Avenir;
}

input {
    width: 90%;
    padding: 15px 75px;
    font-family: Avenir;
    padding-right:auto;
    background-color:#FAFAFA;
    margin-left: 10px;

    @media (max-width:767px){
    
    }
}

textarea {
    width:90%;
    font-family: Avenir;
    padding-left: 10px;
    padding-right:10px;
    padding-top:30px;
    padding-bottom:60px;
    background-color: #FAFAFA;
    margin-top:10px;
    margin-left:-40px;
    margin-right: 10px;
    @media (max-width:767px){
     padding-left:36px;
     padding-right:16px;
     width:80%;
     margin:16px;
     padding-bottom:40px;
    }       
}

.form__header {
    padding-left: 36px;
    font-size: 36px;
    font-family:Avenir;
    @media (max-width:767px){
        font-size:24px;
}
}

#submit {
    margin-left:65%;
    color:white;
    background-color:#323232;
    padding: 10px 20px;
    margin-top: 10px;
    height:40px;
    width:150px;
    font-weight: bold;
    @media (max-width:767px){
        font-size:24px;
        font-weight:bold;
        height:80px;
        width: 90%;
        margin:36px;
        padding-left: 16px;
        border-radius: 7px;
}
}

.submit:hover {
    background-color:black;
    color:white;
}


.form__comment__section {
    display:flex;
}


.form__submissions {
    color:white;
}


.form__heading__date {
    color: gray;
}

.form__heading__text-date {
    display:flex;
    justify-content: space-between;
}

.musician__header {
    color: black;
    font-family: Avenir;
    @media(max-width:767px){
        font-size:24px;
    }

    @media (min-width: 1280px ) { 
        font-size: 36px;

    }

    @media (min-width: 768px) and (max-width: 1279px){
        font-size: 36px;
}
}

.hero {
    background: url("../Assets/Images/hero-bio.jpg");
    font-family: Avenir;
    padding: 200px 0;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: black;
    filter: alpha(opacity=50);
    margin-bottom: 24px;
    margin:auto;
    height:auto;  
    
    @media(max-width:767px){
        padding: 100px 0;
    }
    
    @media (min-width: 1280px ) { 
        

    }  
}

.musician__text {
    @media(max-width:767px){
    padding-left:16px;
    font-size: 14px;
    font-family: Avenir;
}
}

@media (min-width: 1280px ) { 
    

.musician__text {
    padding-left: 150px;
    font-size: 14px;
    font-family: Avenir;
} 




} 

.footer_text {
    @media(max-width:767px){
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px; 
    font-size:14px;
}
}