
.hero_shows {
        background: url("../Assets/Images/hero-shows.jpg");
        font-family: Avenir;
        padding: 200px 0;
        background-size: auto;
        background-size: cover;
        background-repeat: no-repeat; 
        opacity: 87%;
        margin-bottom: 24px;
        margin:auto;
        height:auto;    
}

h3 {
    color: white;
    padding: 36px;
    font-size: 2.3rem;
}

.concert {
    margin: 200px;
    font-family: Avenir;
    display:flex;
}

.concert__header {
    color:black;
    font-size: 3rem;
}

.venue_list {
    display: flex;
    justify-content: space-between;
}

.concert_text {
    font-size:1.5rem;
    color:grey;
}

.column {
    flex: 1;
    
}