
.hero_shows {
        background: url("../Assets/Images/hero-shows.jpg");
        font-family: Avenir;
        padding: 200px 0;
        background-size: auto;
        background-size: cover;
        background-repeat: no-repeat; 
        opacity: 87%;
        margin-bottom: 24px;
        margin:auto;
        height:auto;    
}

h3 {
    color: white;
    padding: 36px;
    font-size: 2.3rem;
}

.shows {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2.3rem;
    align-items: right;
}