.hero__shows {
        background: url("../Assets/Images/hero-shows.jpg");
        font-family: Avenir;
        padding: 36px 0;
        background-size: auto;
        background-size: cover;
        background-repeat: no-repeat; 
        opacity:50% #323232;
        margin:auto;
        height:auto;   

}

.hero__text {
      font-size: 60px;
      line-height: 68px;
      font-weight: bold;
      @media (max-width:767px){
          font-size:40px;
          line-height: 32px;
          font-weight:bold;
          padding-left:16px;

}
}

.hero__song {
    padding-left: 36px;
    width:"30%";
    height:"200px";
    @media (max-width:767px){
        padding-left:16px;
        padding-right:16px;
        margin:16px;
        width:90%;
        height:200px;
 }
}

h3 {
    color: white;
    padding: 36px;
    font-size: 60px;
    @media (max-width:767px){
        font-size:1.5rem;
        color:white; 
    }
}

.concert {
    margin: auto;
    font-family: Avenir;
    display:flex;
    padding-left: 36px;
    padding-right: 36px;
    @media (max-width:767px){
    display:flex;
    flex-direction: column;
 
    }
}

.concert__header {
    color:black;
    font-size: 4rem;
    padding-left:36px;
    font-family: Avenir;
    font-weight: bold;
}

.venue_list {
    display: flex;
    justify-content: space-between;
}

.concert_text {
    font-size:2.4rem;
    color:grey;
}

.column {
    flex: 1;

}

.ticket_button {
    background-color:#323232;
    font-family: Avenir;
    color:white;
    font-size: 24px;
    padding-bottom:5px;
    padding-top: 5px;
    padding-left: 50px;
    padding-right:50px;
    margin-top:5px;
    text-align: center;
    font-weight:bold;
    @media (max-width:767px){
        height:80px;
        width: 90%;
        margin:36px;
        padding-left: 16px;
        border-radius: 7px;
    }
    @media (min-width: 768px) and (max-width: 1279px){ 
        font-size: 20px;
        padding-bottom:2px;
        padding-top: 5px;
        padding-left: 25px;
        padding-right:25px;
        margin-top:5px;

    }
}

#button {
    color:white;
}


.date_list {
    font-size:24px;
    font-weight: bold;
    @media (max-width:767px){
    font-size: 14px;

    }
    @media (min-width: 768px) and (max-width: 1279px){ 
        font-size: 20px;
    }
    
}

.venue_list{
    font-size:24px;
    @media (min-width: 768px) and (max-width: 1279px){ 
        font-size: 20px;
    }
    @media (max-width:767px){
        font-size: 14px;
    
        }
}

.location_list {
    font-size:24px;
    @media (min-width: 768px) and (max-width: 1279px){ 
        font-size: 20px;
    }
    @media (max-width:767px){
        font-size: 14px;
    
        }
}

.dataRow {
    border-bottom:  2px lightgrey; 
}


